@font-face {
    font-family: "Roslindale";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Roslindale/RoslindaleText-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Roslindale Italic";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Roslindale/RoslindaleText-Italic.woff") format("woff");
    font-display: swap;
}

@keyframes foreground-pulse {
    to {
        transform: scale(1.1);
    }
}

body {
    display: flex;
    flex-direction: row;
    font-family: "Roslindale";
    color: white;
    font-size: 22pt;
    background: #211d1d;
    margin: 0;
}

h1 {
    font-size: 22pt;
    font-style: italic;
    font-weight: 500;
}

p {
    font-size: 22pt;
}

a {
    font-family: "Roslindale Italic";
    color: white;
    text-decoration: none;
    font-style: italic;
    line-height: 1.4em;
    text-shadow: 2px 2px 20px #ffffff;

}

a:hover {
    text-shadow: 2px 2px 30px #ffffff;
}

.first-column, .second-column {
    max-width: 40%;
    padding: 2rem 5rem;
}

.second-column {
    padding-left: 2rem;
}

.about span {
    font-weight: 700;
}

.gradient {
    margin: 1em 0;
}

.gradient span {
    font-style: italic;
}

.gradient-background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vw;
    width: 40vw;
    margin: 2rem 0;
    background: linear-gradient(180deg, #211d1d 0%, #FFFFFF 90%);
    animation: background-pulse 1s ease-in-out infinite alternate;
}

.gradient-foreground {
    height: 75%;
    width: 75%;
    background: radial-gradient(50% 50% at 50% 50%, #211d1d 45.31%, #9B9B9B 73.44%, rgba(225, 225, 225, 0) 100%);
    animation: foreground-pulse 1s ease-in-out infinite alternate;
}

.face-plate {
    display: flex;
    padding-top: 2rem;
    width: 100vw;
    height: 100vh;
}

.first-column {
    padding-top: 4rem;
}

.site-content {
    display: flex;
    padding: 0;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.site-content p {
    max-width: 50%;
}

.scroll {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 10px;
    font-size: 10pt;
}

@media (max-width: 82em) {
    .first-column, .second-column {
        max-width: 50%;
        padding: 0 5rem;
    }

    .second-column {
        padding-left: 5rem;
    }
}

@media (max-width: 43em) {
    .contact {
        margin-bottom: 0;
    }
    
    .first-column, .second-column {
        max-width: 100%;
        padding: 1rem;
    }
    
    .first-column {
        padding-bottom: 0;
    }

    .gradient {
        margin: 0;
    }

    .gradient-background {
        height: 90vw;
        width: 90vw;
        margin: 0;
    }

    .face-plate {
        flex-direction: column;
        height: auto;
    }

    .site-content p {
        max-width: 100%;
        padding: 0 1rem;
        margin: 1rem 0;
    }
}