@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=bb965da2-6666-4f2e-b88d-4c57becd17a0&fontids=5742382");

@font-face {
    font-family: "Perpetua";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/5742382/64cc7f58-9007-4478-82db-38f3af965d61.woff") format("woff"), url("../fonts/5742382/7182d2b0-9130-476c-a723-5118b396d901.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Maria";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Maria/maria.woff") format("woff"), url("../fonts/Maria/maria.woff2") format("woff2");
    font-display: swap;
}

body {
    margin: 0;
}

h1 {
    font-family: "Perpetua";
    color: black;
    font-size: 30pt;
    display: inline-block;
    padding-bottom: 0;
    margin-top: 2rem;
    z-index: 1000;
    font-weight: 500;
    margin: 4rem 2rem 0 2rem;
}

p {
    font-family: "Maria";
    color: black;
    font-size: 20pt;
    max-width: 750px;
    margin: 0.6em 0;
    line-height: 1.3em;
    position: relative;
    line-height: 1.4em;
    margin: 2rem 2rem 0 2rem;
}

a {
    font-family: "Perpetua";
    font-size: 18pt;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
}

p.story::before{
    content: "story";
    font-family: "Perpetua";
    position: absolute;
    left: -60px;
    top: 10px;
    text-transform: uppercase;
    font-size: 9pt;
    font-weight: 700;
    transform: rotate(-90deg);
}

p.currently {
    text-shadow: 0 0 5px #fff500, 0 0 10px #fff500, 0 0 15px #fff500, 0 0 20px #fff500, 0 0 25px #fff500, 0 0 30px #fff500, 0 0 35px #fff500;
}

p.currently::before {
    content: "currently";
    font-family: "Perpetua";
    position: absolute;
    left: -75px;
    top: 20px;
    text-transform: uppercase;
    font-size: 9pt;
    font-weight: 700;
    transform: rotate(-90deg);
}

p.contact::before {
    content: "contact";
    font-family: "Perpetua";
    position: absolute;
    left: -70px;
    top: 20px;
    text-transform: uppercase;
    font-size: 9pt;
    font-weight: 700;
    transform: rotate(-90deg);
}

p.mushrooms {
    position: absolute;
    right: 0;
    max-width: 200px;
    font-size: 12pt;
    margin-top: 4rem;
}

img {
    max-width: 200px;
    margin-top: 1rem;
}

p.mushrooms::before {
    content: "miscellaneous";
    font-family: "Perpetua";
    position: absolute;
    left: -70px;
    top: 55px;
    text-transform: uppercase;
    font-size: 9pt;
    transform: rotate(-90deg);
}

.mobile-description {
    display: none;
}

@media (max-width: 82em) {
    p.mushrooms {
        position: relative;
        max-width: 750px;
        font-size: 20pt;
    }

    p.mushrooms::before {
        left: -90px;
        top: 35px;
    }

    img {
        max-width: 80vw;
    }

    .description {
        display: none;
    }

    .mobile-description {
        display: inline-block;
    }
}

@media (max-width: 82em) {
    p.mushrooms::before {
        display: none;
    }
}