@font-face {
    font-family: "ITC Clearface Std";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/ITC-Clearface-Std/ClearfaceStd-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "ITC Clearface Std Italic";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/ITC-Clearface-Std/ClearfaceStd-Italic.woff") format("woff");
    font-display: swap;
}

body {
    display: flex;
    flex-direction: row;
    font-family: "ITC Clearface Std";
    color: #000000;
    font-size: 22px;
    background: #FFFFFF;
    margin: 0;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 300;
    width: 200px;
    padding: 0;
    position: absolute;
    left: 4rem;
    top: 4rem;
    margin: 0;
}

img {
    width: 200px;
    margin-bottom: 4rem;
}

h2 {
    font-size: 18px;
    font-weight: 300;
    max-width: 40rem;
    margin: 0 0 4rem 0;
}



p {
    font-size: 14px;
    max-width: 25rem;
    margin: 0 0 1rem 0;
}

a {
    color: #000000;
    text-decoration: none;
    line-height: 1.4em;
    text-shadow: 2px 2px 20px #ffffff;
    text-decoration: underline;

}

.header-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

span {
    transform: rotate(-10deg);
    text-transform: uppercase;
    position: relative;
    left: -90px;

}


@media (max-width: 82em) {
    .first-column, .second-column {
        max-width: 70%;
        padding: 0 5rem;
    }

    .second-column {
        padding-left: 5rem;
    }

    .face-plate {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .site-content p {
        max-width: 70%;
    }

    .gradient-background {
        height: 70vw;
        width: 70vw;
    }
}

@media (max-width: 43em) {
    .contact {
        margin-bottom: 0;
    }
    
    .first-column, .second-column {
        max-width: 100%;
        padding: 1rem;
    }
    
    .first-column {
        padding-bottom: 0;
    }

    .gradient {
        margin: 0;
    }

    .gradient-background {
        height: 90vw;
        width: 90vw;
        margin: 0;
    }

    .face-plate {
        flex-direction: column;
        height: auto;
    }

    .site-content p {
        max-width: 100%;
        padding: 0 1rem;
        margin: 1rem 0;
    }

    .scroll {
        display: none;
    }
}