.container {
    display: flex;
    flex-direction: column;
    min-width: 80vw;
    justify-content: center;
    align-items: center;
    padding: 4rem;
  }

@media (max-width: 82em) {
    .container {
        flex-direction: column;
        min-width: auto;
    }
}