.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-family: "Inter";
    font-size: 3rem;
    min-width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #E4C3B5 0%, #FFF0A3 91.15%);
  }